<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body ng-app="CS201Chat" ng-controller="MainController">
        <div ng-hide="userLogged">
            <h1>What is your name?</h1>
            <input type="text" ng-model="userName" id="new-user" value="">
            <button ng-click="closeLogIn()">Save</button>
        </div>
        <div class="container">
            <div class="col-md-3">
                <div ng-show="userLogged">
                    <h3>Existing Users</h3>
                    <button class="glyphicon glyphicon-refresh" type="button" ng-click="refreshUsers()"></button>
                    <br>
                    <ul ng-if='users.length' class='list center stretch'>
                        <li ng-repeat='user in users' class='users' ng-bind="user"></li>
                    </ul>
                </div>
            </div>
            <div class ="col-md-6">
                <div ng-show="userLogged">
                    <input type="text" id="message_input"/>
                    <button ng-click="sendMessage()">Send</button>
                </div>
                <div id="chatlog"></div>
            </div>
        </div>

        <!-- Modules -->
        <script src="js/app.js"></script>
        
        <!-- Controllers -->
        <script src="js/controllers/MainController.js"></script>
    </body>
</html>

<!-- Possible TO DO
    Add Style
    A way to chat with a single User
    a user's comments appear a different color/aligned on a different side.
-->